body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.page-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.navigation {
    text-align: center;
}

h3 {
    padding-right: 20px;
    padding-top: 20px;
    float: left;

}

.logo {
    float: left;
    display: flex;
    margin: 10px 15px 15px 10px;

}

.navigation .list {
    list-style-type: none;
    padding-top: 25px;
    padding-left: 200px;

}

.navigation .list a {
    text-decoration: none;
    padding: 10px;
    color: black;
    font-size: 24px;
}

.navigation .list button {
    margin: 5px;
}

.btn-sign-in {
    background-color: white;
    border: 1px solid darkblue;
    color: #173A56;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-sign-up {
    background-color: #FF9900;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}


.first {
    display: flex;
    margin-top: 100px;
}



.leftside {
    display: flex;
    flex-direction: column;
    width: 518px;
    height: 331px;

}


.rightside {
    display: flex;
    width: 605px;
    height: 496px;

}

.btn-getstarted {
    display: inline-block;
    border: none;
    color: #efefef;
    background: #FF9900;
    border-radius: 4px;
    height: 40px;
    width: 155px;
}

.btn-watch-video {
    display: inline-block;
    background-color: transparent;
    border: none;
    height: 53px;
    width: 175px;

}

.h1-Info-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
}

.container {
    width: 200px;
    height: 100px;
}



.btn-card-signup {
    display: flex;
    justify-content: center;
    margin-top: 90px;

}

.btn-card-success {
    display: inline-block;
    border: none;
    color: #efefef;
    background: #FF9900;
    border-radius: 4px;
    height: 40px;
    width: 155px;
}


.middle-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}


.design-part {
    float: left;
    flex-direction: column;

    width: 300px;
    height: 531px;
}

.designer-container {
    display: flex;
    gap: 100px;
}

.design-pic {
    display: flex;
    align-self: center;
    width: 520px;
    height: 574px;
}


.manager-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}


.manager-container {
    display: flex;
    gap: 80px;
}

.manager-pic {
    width: 535px;
    height: 521px;
}

.manager-part {
    width: 486px;
    height: 427px;
}



.website-footer {

    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    width: 1109px;
    height: 308px;
}

.footer-items {
    display: flex;
    gap: 100px;
    padding-top: 20px;
}

.links-left {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    gap: 20px;
    width: 118px;
    height: 205px;
}

.links-right {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    gap: 20px;
    width: 131px;
    height: 205px;
}

.signup-part {
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    
}

.footer-logo {
    width: 195px;
    height: 45px;
}

.sign-up-now{
    display: inline-block;
    border: none;
    font-weight: bold;
    margin-top: 10px;
    color: #efefef;
    background: #FF9900;
    border-radius: 4px;
    height: 35px;
    width: 100px;
}

.footer-input{
    padding: 10px 10px;
    border: 1px solid grey;

}

.links-left a,
.links-right a{
    text-decoration: none;
    color: black;
}